<div class="container" id="journalsDetails1">
    <div class="card">
        <div class="card-header">
            <h2>Journal Details: {{ journal_id }}</h2>
        </div>
        <div class="card-body">
            <p><strong>Name:</strong> {{ journal.Name }}</p>
            <p><strong>PrintISSN:</strong> {{ journal.PrintISSN }}</p>
            <p><strong>EletronicISSN:</strong> {{ journal.EletronicISSN }}</p>
            <p><strong>Url:</strong> <a href="{{ journal.Url }}" class="text-decoration-none">{{ journal.Url }}</a></p>
            <p><strong>Publisher:</strong> {{ journal.Publisher }}</p>
            <p><strong>Users favorite Count:</strong> {{ journal.UsersCount }}</p>
            <p><strong>Articles Count:</strong> {{ journal.ArticlesCount }}</p>

            {% if journal.ArticlesCount > 0 %}
            <div>
                <br>
                <ul class="list-group">
                    {% for volume in journal.VolumesList %}
                        <li class="list-group-item">
                            <i class="fas fa-file-alt"></i> {{ volume }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>