{% for journal in journals %}
    <div class="card alig-center mt-3"> 
        <div class="card-body contact-list-item" hx-swap="innerHTML" hx-target="#content">
            <div class="contact-list-item-details" hx-get="/journals/{{ journal.JournalID }}">
                <div>Name: <strong>{{ journal.Name }}</strong></div>
                <div><a class="link-primary link-underline-dark" href="{{ journal.Url }}">website</a></div>
                <div>PrintISSN: {{ journal.PrintISSN }}</div>
                <div>EletronicISSN: {{ journal.EletronicISSN }}</div>
            </div>
        </div>
    </div>   
{% endfor %}


{% for journal in journals %}
    <div class="card align-center mb-3  shadow"> 
        <div class="card-body contact-list-item">
            <div class="contact-list-item-details" >
                <div>Name: <strong>{{ journal.Name }}</strong></div>
                <div><a class="link-primary link-underline-dark" href="{{ journal.Url }}">website</a></div>
                <div>PrintISSN: {{  journal.PrintISSN }}</div>
                <div>EletronicISSN: {{ journal.EletronicISSN }}</div>
            </div>
        </div>
        <div class="p-2">
            <button class="btn btn-primary edit-primary" hx-target="#content" hx-get="/journals/{{ journal.JournalID }}?edit=true">Edit</button>
            <button class="btn btn-danger delete-button"
                    hx-delete="/journals/{{ journal.JournalID }}"
                    hx-confirm="Are you sure?">Delete</button>
                    <button class="btn btn-success edit-primary" hx-target="#content" hx-get="/journals/{{ journal.JournalID }}">See More</button>        
                    
        </div>
    </div>   
{% endfor %}


