{% for topic in topics %}
    <div class="card align-center mb-3  shadow"> 
        <div class="card-body contact-list-item">
            <div class="contact-list-item-details" >
                <div>Name: <strong>{{ topic.Name }}</strong></div>
                <div>Description: {{ topic.Description }}</div>
            </div>
        </div>
        <div class="p-2">
            <button class="btn btn-primary edit-primary" hx-target="#content" hx-get="/topics/{{ topic.TopicID}}?edit=true">Edit</button>
            <button class="btn btn-danger delete-button"
                    hx-delete="/topics/{{ topic.TopicID }}"
                    hx-confirm="Are you sure?">Delete</button>
                    <button class="btn btn-success edit-primary" hx-target="#content" hx-get="/topics/{{ topic.TopicID }}">See More</button>        
                    
        </div>
    </div>   
{% endfor %}


