<div class="container" id="topicsDetails1">
    <div class="card">
        <div class="card-header">
            <h2>Topics Details: {{ topic_id }}</h2>
        </div>
        <div class="card-body">
            <p><strong>Name:</strong> {{ topic.Name }}</p>
            <p><strong>Description:</strong> {{ topic.Description }}</p>
            <p><strong>Articles Count:</strong> {{ topic.ArticlesCount }}</p>
            
            {% if topic.ArticlesCount > 0 %}
            <div>
                <br>
                <ul class="list-group">
                    {% for articleName in topic.ArticlesList %}
                        <li class="list-group-item">
                            <i class="fas fa-file-alt"></i> {{ articleName }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
