
{% for author in authors %}
    <div class="card align-center mt-3 shadow"> 
        <div class="card-body contact-list-item" hx-swap="innerHTML" hx-target="#content">
            <div class="contact-list-item-details" hx-get="/authors/{{ author.AuthorID }}">
                <div>Name: <strong>{{ author.Name }}</strong></div>
                <div><a class="link-primary link-underline-dark" href="{{ author.Url }}">website</a></div>
                <div>ORCID: {{ author.ORCID }}</div>
                <div>Institution: {{ author.InstitutionID }}</div>
            </div>
        </div>
        <div class="p-2">
            <button class="btn btn-primary edit-primary" hx-get="/authors/{{ author.AuthorID }}?edit=true">Edit</button>
            <button class="btn btn-danger delete-button"
                    hx-delete="/authors/{{ author.AuthorID }}"
                    hx-confirm="Are you sure?">Delete</button>
        </div>
    </div>   
{% endfor %}


