
{% for author in authors %}
    <div class="card align-center mb-3  shadow"> 
        <div class="card-body contact-list-item">
            <div class="contact-list-item-details" >
                <div>Name: <strong>{{ author.Name }}</strong></div>
                <div><a class="link-primary link-underline-dark" href="{{ author.Url }}">website</a></div>
                <div>Institution: {{ author.InstitutionName }}</div>
            </div>
        </div>
        <div class="p-2">
            <button class="btn btn-primary edit-primary" hx-target="#content" hx-get="/authors/{{ author.AuthorID }}?edit=true">Edit</button>
            <button class="btn btn-danger delete-button"
                    hx-delete="/authors/{{ author.AuthorID }}"
                    hx-confirm="Are you sure?">Delete</button>
                    <button class="btn btn-success edit-primary" hx-target="#content" hx-get="/authors/{{ author.AuthorID }}">See More</button>        
                    
        </div>
    </div>   
{% endfor %}


