<div class="container" id="authorsDetails1">
    <div class="card">
        <div class="card-header">
            <h2>Author Details: {{ author_id }}</h2>
        </div>
        <div class="card-body">
            <p><strong>Name:</strong> {{ author.Name }}</p>
            <p><strong>URL:</strong> <a href="{{ author.Url }}" class="text-decoration-none">{{ author.Url }}</a></p>
            <p><strong>ORCID:</strong> {{ author.ORCID }}</p>
            <p><strong>Institution Name:</strong> {{ author.InstitutionName }}</p>
            <p><strong>Articles Count:</strong> {{ author.ArticlesCount }}</p>

            {% if author.ArticlesCount > 0 %}
            <div>
                <br>
                <ul class="list-group">
                    {% for article in author.ArticlesList %}
                        <li class="list-group-item">
                            <i class="fas fa-file-alt"></i> {{ article }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>